{{include file="field_select.tpl" field=$colorScheme}}
{{include file="field_checkbox.tpl" field=$useRoundCorners}}
<div class="Center">
  <input class="Button RoundCorners" type="submit" value="{{$submit}}" class="SubmitButton" name="SaarSettingsSubmit" />
</div>
