
/* this is the main background */
.Background, body
{
  color:#000;
  background-color:#fff;
}

/* colors for links */
.Link, a:link, a:visited
{
  color:#08b;
}

/* colors for hovering links */
.Link:hover, a:hover
{
  color:#0af;
  text-shadow: 0px 0px 0.1em #0FF;
}

/* layer 1,2 and 3 are elements that are grouped in one another.
 * So Layer1 elements are parents of Layer2 elements and so on*/
section, .Layer1
{
  background-color:#dfe;
}

.Layer2
{
  background-color:#dfd;
}

.Layer3
{
  background-color:#cfc;
}

/* code elements, quotes and reshares */
.PostBody > code, .PostBody > blockquote, .PostBody > q, .PostBody > .shared_content
{
  background-color:#bfb;
  border-color:#0af;
}

/* every border has this color, except buttons */
.Border, .BottomLine
{
  border-color:#0f0;
}

/* special colors for menus */
.Menu
{
  background-color:#dfd;
}

/* text input fields: some can't be modified (missing template names), so there's input and textarea */
.Field, input, textarea, .Textarea
{
  background-color:#9fc;
  color:#000;
}

/* colors for buttons (and their borders) */
.Button, a.Button
{
  color:#020;
  background-color:#8F8;
  border-color:#0F0;
}

/* colors for hovered buttons */
.Button:hover, a.Button:hover
{
  background-color:#0ff;
}

/* selected buttons and other selected elements */
.Selected, a.Button.Selected
{
  background-color:#0ff;
}

/* each popup "window" has these colors */
.Popup
{
  color:#000;
  background-color:#efe;
}

/* the navigation bar: */
nav
{
  color:#420;
  /* we want 4/5 of the nav bar to have the same color. the last 1/5 has the actual gradient to transparent */
  background: linear-gradient(to bottom, #6a6, #6a6, #6a6, #6a6, #6a6, rgba(0, 0, 0, 0));
}

/* links in the nav bar have a different color: */
nav .Link, nav a:link, nav a:visited
{
  color:#420;
}

/* of course the links have to glow otherwise than normal ;) */
nav a:hover
{
  text-shadow: 0px 0px 0.1em #840;
}

/* menus in the nav bar have the same background as the nav bar */
nav .Menu
{
  background-color:#6a6;
